@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.isi{
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.isi button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

a, button, p{
    font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
    header {
        width: 100%;
        height: 75px;
        background-color: #FA812F;
        color: white;
        display: flex;
        align-items: center;
        box-shadow: 1px 9px 7px 0px rgba(0, 0, 0, 0.136);
    }

    header h1 {
        margin-left: 15px;
        font-size: 30px;
    }

    .isi h1 {
        font-size: 50px;
    }

    #h1Warna{
        color: #FA812F;
    }
    
    .isi button {
        margin-top: 20px;
        margin-right: 20px;
        border: none;
        background-color: #FA812F;
        height: 50px;
        width: 120px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        font-size: large;
    }

    #btnDaftar {
        background-color: white;
        border: 2px solid #FA812F;
        color: #FA812F;
    }

}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: 9vh;
        background-color: #FA812F;
        color: white;
        display: flex;
        align-items: center;
        box-shadow: 1px 9px 7px 0px rgba(0, 0, 0, 0.136);
    }

    header h1 {
        margin-left: 3%;
        font-size: 148%;
    }

    .isi h1 {
        font-size: 188%;
        text-align: center;
    }

    .isi div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }

    #h1Warna{
        color: #FA812F;
        text-align: left;
    }
    
    .isi button {
        margin-top: 10%;
        border: none;
        background-color: #FA812F;
        height: 6vh;
        width: 28vw;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        font-size: large;
    }

    #btnDaftar {
        background-color: white;
        border: 2px solid #FA812F;
        color: #FA812F;
    }
   
}