@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

a, button, p, label, input, option{
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
}

.outputContent button:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: rgb(228, 2, 2);
}

#btnEdit:hover{
    background-color: #ee5f00;
}

#btnView:hover{
    background-color: #ee9700;
}

@media (min-width: 768px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FA812F;
        justify-content: space-between;
        height: 70px;
        box-shadow: 1px 9px 7px 0px rgba(0, 0, 0, 0.136);
    }
    
    header h2 {
        color: white;
        margin-left: 10px;
    }
    
    header div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header div img {
        width: 35px;
        height: 35px;
        margin-left: 30px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 50px;
        left: 30px;
        background-color: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.2s;
    }
    
    .dropdown-content a {
        text-decoration: none;
        display: block;
        color: black;
        padding: 5px;
        font-size: 15px;
    }
    
    .dropdown-content:hover {
        background-color: #f1f1f1;
        text-decoration: none;
    }
    
    header a {
        text-decoration: none;
        color: white;
        margin-right: 30px;
        font-weight: 650;
        font-size: 20px;
    }
    
    header a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
    }
    
    .navOutput {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
    }
    
    .atas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 20px;
    }
    
    .search {
        width: 500px;
        height: 35px;
        padding: 5px;
        padding-inline: 40px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.481);
        outline-color: #FA812F;
        background: url('/img/icon_search.svg') no-repeat 10px center;
        background-size: 20px 20px;
    }
    
    #filterBulan {
        width: 150px;
        height: 45px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.481);
        outline-color: #FA812F;
        background-color: white;
    }
    
    #output{
        height: auto;
        margin-top: 30px;
        max-height: 540px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    #output::-webkit-scrollbar {
        display: none;
    }
    
    .outputContent{
        border: 1px solid #FA812F;
        margin-inline: 30px;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 15px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    .outputContent h3{
        font-size: 20px;
        margin-bottom: 3px;
    }

    .outputContent p{
        font-size: 15px;
    }
    
    #btnContainer button img {
        width: 32%;
    }

    .outputContent button{
        background-color: red;
        width: 85px;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        height: 45px;
        margin-right: 20px;
        font-size: medium;
    }
    
    #btnEdit{
        background-color: #FA812F;
    }

    #btnView{
        background-color: #FAB12F;
    }

    .floating-btn {
        display: none;
    }

    .center-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 67vh;
    }

    .notFoundText{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-inline: 330px;
        text-align: center;
        color: rgba(0, 0, 0, 0.638);
    }
    
    .btnNotFound {
        padding: 10px 22px;
        background-color: #fa802f;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: bold;
    }

    .btnNotFound:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
        background-color: #fb6c0d;
    }
    
    .big-plus {
        font-size: 28px;
        font-weight: bold;
        margin-right: 6px;
    }
}

/* Gaya untuk smartphone (layar kecil) */
@media (max-width: 768px) {
    header {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FA812F;
        justify-content: space-between;
        height: 8vh;
        box-shadow: 1px 9px 7px 0px rgba(0, 0, 0, 0.136);
    }
    
    header h2 {
        color: white;
        margin-left: 2vw;
        font-size: 130%;
    }
    
    .nav {
        display: none;
    }

    header div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header div img {
        width: 10%;
        height: 10%;
        margin-left: 3vw;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 50px;
        left: 30px;
        background-color: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        border-radius: 5px;
        padding: 3%;
        transition: background-color 0.2s;
    }
    
    .dropdown-content a {
        text-decoration: none;
        display: block;
        color: black;
        padding: 5px;
    }
    
    .dropdown-content:hover {
        background-color: #f1f1f1;
        text-decoration: none;
    }
    
    .atas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 13vh;
        margin-bottom: 3vh;
        gap: 2vw;
    }
    
    .search {
        width: 45vw;
        height: 4vh;
        padding: 2%;
        padding-inline: 12vw;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.481);
        outline-color: #FA812F;
        background: url('/img/icon_search.svg') no-repeat 10px center;
        background-size: 20px 20px;
        font-size: 63%;
    }
    
    #filterBulan {
        width: 20vw;
        height: 6vh;
        font-size: 75%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.481);
        outline-color: #FA812F;
        background-color: white;
    }
    
    #output{
        height: auto;
    }
    
    .outputContent{
        width: 80%;
        border: 1px solid #FA812F;
        margin: auto;
        padding: 4.5%;
        border-radius: 10px;
        margin-bottom: 3vw;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    
    .outputContent h3{
        font-size: 90%;
        margin-bottom: 0.5vh;
    }

    .outputContent p{
        font-size: 60%;
    }

    #btnContainer{
        display: flex;
        flex-direction: row;
    }

    #btnContainer button img {
        width: 60%;
    }

    .outputContent button{
        background-color: red;
        width: 8vw;
        height: 4vh;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        font-size: 80%;
        margin-right: 2vw;
    }
    
    #btnEdit{
        background-color: #FA812F;
    }


    #btnView{
        background-color: #FAB12F;
    }

    .floating-btn {
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 55px;
        height: 55px;
        background-color: #FA4032;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    .floating-btn:hover {
        background-color: #812b25;
    }

    .center-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 67vh;
    }

    .notFoundText{
        font-size: 200%;
        font-weight: bold;
        margin-inline: 5vw;
        text-align: center;
        color: rgba(0, 0, 0, 0.638);
    }
    
    .btnNotFound {
        display: none;
    }
    
}