body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}

.btnDownload:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #ee5f00;
}

@media (min-width: 768px) {

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FA812F;
        justify-content: space-between;
        height: 70px;
        box-shadow: 1px 9px 7px 0px rgba(0, 0, 0, 0.136);
    }
    
    header h2{
        color: white;
        margin-left: 20px;
    }
    
    header div{
        display: flex;
        flex-direction: row
    }
    
    header a{
        text-decoration: none;
        color: white;
        margin-right: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    
    header a:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
    }

    .btnHome{
        display: none;
    }
    
    .navInput{
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 3px;
    }

    .container {
        width: 50%;
        margin: auto;
        padding: 30px;
        background-color: white;
        margin-top: 40px;
        border: 1px solid #FA812F;
        border-radius: 8px;
    }

    .container h1 {
        text-align: center;
        color: #FA812F;
        font-size: 50px;
        margin-bottom: 50px;
    }

    .tanggal {
        display: flex;
        flex-direction: column;
    }

    .tanggal p {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .batasAtas{
        border: 1px solid black;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    #dataContainer div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .batasBawah{
        border: 1px solid black;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .totalTabunganContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btnDownload {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #FA812F;
        color: white;
        border: none;
        padding: 15px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        gap: 10px;
        font-size: 18px;
    }

    img{
        width: 12%;
    }
}

/* Tampilan hp */
@media (max-width: 768px) {

    header{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FA812F;
        justify-content: space-between;
        height: 8vh;
        box-shadow: 1px 9px 7px 0px rgba(0, 0, 0, 0.136);
    }
    
    header h2{
        color: white;
        padding-left: 4%;
        font-size: 6.5vw;
    }
    
    .nav{
        display: none;
    }

    header button{
        margin-right: 2.5vw;
        background-color: #FA4032;
        border: none;
        padding: 8px 12px;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }

    header button:hover{
        transform: scale(1.05);
        transition: all 0.3s ease;
        background-color: rgb(228, 2, 2);
    }

    .container {
        width: 80%;
        margin: auto;
        padding: 5%;
        background-color: white;
        border: 1px solid #FA812F;
        border-radius: 8px;
        margin-top: 12vh;
    }

    .container h1 {
        text-align: center;
        color: #FA812F;
        font-size: 210%;
        margin-bottom: 4vh;
    }

    .tanggal {
        display: flex;
        flex-direction: column;
    }

    .tanggal p {
        font-size: 103%;
        margin-bottom: 0.7vh;
    }

    .batasAtas{
        border: 1px solid black;
        margin-bottom: 3vh;
        margin-top: 1vh;
    }

    #dataContainer div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.5vh;
    }

    #dataContainer h3{
        font-size: 100%;
    }

    #dataContainer p{
        font-size: 80%;
    }

    .batasBawah{
        border: 1px solid black;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }

    .totalTabunganContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .totalTabunganContainer h2{
        font-size: 120%;
    }

    .btnDownload {
        width: 50vw ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        background-color: #FA812F;
        color: white;
        border: none;
        padding: 4%;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        gap: 3vw;
        font-size: 70%;
    }
    
    img{
        width: 15%;
    }
}